#app {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.content-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background: url('/duskmourn-wallpaper.webp') no-repeat top center fixed;
  background-size: cover;
}

main {
  flex-grow: 1;
  overflow: auto;
}